@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Fira_Code&display=swap");

@layer base {
  h1 {
    font-size: text-9xl;
    font-family: "monospace";
  }

  p {
    font-size: text-sm;
    font-family: "monospace";
  }

  img {
    border: none;
    border-color: transparent;
  }

  body {
    margin: 0;
    font-family: 'Fira_Code';
    font-size: text-base;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', 'Fira_Code'
      monospace;
  }
}